<h1>Add a new place</h1>

<form method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" placeholder="Name" name="name">

  <label for="type-input">What kind of place is it?</label>
  <select id="type-input" name="type">
    <option value="coffee_shop">Coffee Shop</option>
    <option value="bookstore">BookStore</option>
  </select>

  <label for="latitude-input">Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input">Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude">

  <button>Add</button>
</form>